
<!DOCTYPE html>

<html class="" lang="en">
@using Stimulsoft.Report.MvcMobile;

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>گروه نرم افزاری بی همتا</title>
    <link href="~/Content/Main/style.css" rel="stylesheet" />
    <link href="~/Content/Main/theme.css" rel="stylesheet" />
    <link href="~/Content/Main/ui.css" rel="stylesheet" />
    <link href="~/Content/FontAwesome/fontawesome-pro-5.7.1-web-ulabs/css/all.css" rel="stylesheet" />

    @*<link href="~/Content/plugins/bootstrap/css/bootstrap-rtl.min.css" rel="stylesheet"/>*@
    <link rel="stylesheet" href="@Url.Content("~/Content/kendo/2019.1.220/kendo.common.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/kendo/2019.1.220/kendo.blueopal.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/kendo/2019.1.220/kendo.blueopal.mobile.min.css")" />
    <!-- jQuery -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>


    <script src="@Url.Content("~/Scripts/kendo/2019.1.220/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2019.1.220/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2019.1.220/jszip.min.js")"></script>



    <link href="@Url.Content("~/Content/LeafletJS/leaflet.css")" rel="stylesheet" type="text/css" />
    <!--[if lte IE 8]>
    <link href="@Url.Content("~/Views/Shared/LeafletJS/leaflet-ie.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Views/Shared/LeafletJS/locate-ie.css")" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link href="@Url.Content("~/Content/LeafletJS/mobile.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/LeafletJS/locate.css")" rel="stylesheet" type="text/css" />


    <script src="@Url.Content("~/Content/LeafletJS/libs/leaflet-src.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/LeafletJS/libs/leaflet.css")" />

    <script src="@Url.Content("~/Content/LeafletJS/src/Leaflet.draw.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/LeafletJS/dist/leaflet.draw.css")" />

    <script src="@Url.Content("~/Content/LeafletJS/src/Toolbar.js")"></script>
    <script src="@Url.Content("~/Content/LeafletJS/src/Tooltip.js")"></script>

    <script src="@Url.Content("~/Content/LeafletJS/src/ext/GeometryUtil.js")"></script>
    <script src="@Url.Content("~/Content/LeafletJS/src/ext/LatLngUtil.js")"></script>
    <script src="@Url.Content("~/Content/LeafletJS/src/ext/LineUtil.Intersect.js")"></script>
    <script src="@Url.Content("~/Content/LeafletJS/src/ext/Polygon.Intersect.js")"></script>
    <script src="@Url.Content("~/Content/LeafletJS/src/ext/Polyline.Intersect.js")"></script>
    <script src="@Url.Content("~/Content/LeafletJS/leaflet.polylineDecorator.js")"></script>


    <script src="@Url.Content("~/Content/LeafletJS/src/draw/DrawToolbar.js")"></script>
    <script src="@Url.Content("~/Content/LeafletJS/src/draw/handler/Draw.Feature.js")"></script>
    <script src="@Url.Content("~/Content/LeafletJS/src/draw/handler/Draw.SimpleShape.js")"></script>
    <script src="@Url.Content("~/Content/LeafletJS/src/draw/handler/Draw.Polyline.js")"></script>
    <script src="@Url.Content("~/Content/LeafletJS/src/draw/handler/Draw.Circle.js")"></script>
    <script src="@Url.Content("~/Content/LeafletJS/src/draw/handler/Draw.Marker.js")"></script>
    <script src="@Url.Content("~/Content/LeafletJS/src/draw/handler/Draw.Polygon.js")"></script>
    <script src="@Url.Content("~/Content/LeafletJS/src/draw/handler/Draw.Rectangle.js")"></script>


    <script src="@Url.Content("~/Content/LeafletJS/src/edit/EditToolbar.js")"></script>
    <script src="@Url.Content("~/Content/LeafletJS/src/edit/handler/EditToolbar.Edit.js")"></script>
    <script src="@Url.Content("~/Content/LeafletJS/src/edit/handler/EditToolbar.Delete.js")"></script>

    <script src="@Url.Content("~/Content/LeafletJS/src/Control.Draw.js")"></script>

    <script src="@Url.Content("~/Content/LeafletJS/src/edit/handler/Edit.Poly.js")"></script>
    <script src="@Url.Content("~/Content/LeafletJS/src/edit/handler/Edit.SimpleShape.js")"></script>
    <script src="@Url.Content("~/Content/LeafletJS/src/edit/handler/Edit.Circle.js")"></script>
    <script src="@Url.Content("~/Content/LeafletJS/src/edit/handler/Edit.Rectangle.js")"></script>
    <script src="@Url.Content("~/Content/LeafletJS/src/edit/handler/Edit.Marker.js")"></script>
    <script src="@Url.Content("~/Content/LeafletJS/dist/leaflet.markercluster-src.js")"></script>
    <script src="@Url.Content("~/Content/LeafletJS/Label.js")"></script>
    <script src="@Url.Content("~/Content/LeafletJS/BaseMarkerMethods.js")"></script>
    <script src="@Url.Content("~/Content/LeafletJS/Marker.Label.js")"></script>
    <script src="@Url.Content("~/Content/LeafletJS/Path.Label.js")"></script>
    <script src="@Url.Content("~/Content/LeafletJS/Map.Label.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/LeafletJS/leaflet.label.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/LeafletJS/dist/MarkerCluster.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/LeafletJS/dist/MarkerCluster.Default.css")" />



    @*<script src="@Url.Content("~/Scripts/Highcharts-4.0.1/js/highcharts-all.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/Highcharts-4.0.1/js/modules/funnel.js")" type="text/javascript"></script>*@
    <link rel="stylesheet" href="~/Content/PersianDatePicker/css/persianDatepicker-default.css" />


    @*<script src="@Url.Content("~/Scripts/kendo/2019.1.220/jquery.min.js")"></script>*@
    @*<script src="@Url.Content("~/Scripts/jquery.table2excel.js")"></script>*@
    @Html.Stimulsoft().RenderMvcMobileDesignerScripts()


    <script src="~/Scripts/Main/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Content/plugins/jquery-ui/jquery-ui-1.10.4.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />


</head>

<!-- BEGIN BODY -->
<body class="fixed-topbar rtl theme-sdtd color-red bg-clean">
    <section>
        <!-- BEGIN SIDEBAR -->
        <div class="sidebar">
            <div class="logopanel">
                <h1>
                    <a href="#">
                        <img src="/Content/Logo/@Tools.Logo" style="width:35px;" alt="@Tools.CompanyName">
                    </a>
                </h1>
            </div>


            <div class="sidebar-inner">
                @if (Tools.CurrentUser != null && Tools.CurrentUser.Name != "Temp")
                {
                    <div class="sidebar-top small-img clearfix">

                        <div class="user-details" style="width:100%;text-align:center;margin-left:-7px;margin-top:15px;">
                            <h4 style="width:100%;color:white;">کاربر : @( BiHamtaWeb.Tools.CurrentUser.Name)</h4>


                        </div>
                    </div>
                }


                <ul class="nav nav-sidebar" style="margin-top:10px;">
                    <li class="tm nav-active"><a href="/Home"><i class="icon-home"></i><span>صفحه اصلی</span></a></li>



                    <li class="tm nav-parent">
                        <a href="#"><i class="icon-doc"></i><span>تنظیمات و تعاریف عمومی</span> <span class="fa arrow"></span></a>


                        <ul class="children collapse">

                            <li class="tm nav-parent">
                                <a href="#"><i class="icon-doc"></i><span>امنیت</span> <span class="fa arrow"></span></a>


                                <ul class="children collapse">

                                    <li class="tm nav-active"><a href="/Security"> مدیریت کاربران و دسترسی ها </a></li>

                                    <li class="tm nav-active"><a href="#"> رویداد ها </a></li>

                                    <li class="tm nav-active"><a href="#"> تنظیمات پایگاه داده </a></li>








                                </ul>
                            </li>


                            <li class="tm nav-parent">
                                <a href="#"><i class="icon-doc"></i><span>گردش کار</span> <span class="fa arrow"></span></a>


                                <ul class="children collapse">

                                    <li class="tm nav-active"><a href="#"> وضعیت ها </a></li>

                                    <li class="tm nav-active"><a href="#"> مراحل </a></li>




                                </ul>
                            </li>


                            <li class="tm nav-parent">
                                <a href="#"><i class="icon-doc"></i><span>اطلاعات پایه</span> <span class="fa arrow"></span></a>


                                <ul class="children collapse">

                                    <li class="tm nav-active"><a href="#"> واحد پولی </a></li>

                                    <li class="tm nav-active"><a href="#"> واحد شمارش  </a></li>
                                    <li class="tm nav-active"><a href="#"> بسته بندی  </a></li>
                                    <li class="tm nav-active"><a href="#">مدیریت مناطق جغرافیایی </a></li>

                                    <li class="tm nav-active"><a href="#">مدیریت ایاب و ذهاب </a></li>
                                    <li class="tm nav-active"><a href="#">شماره گذاری اسناد </a></li>



                                </ul>
                            </li>


                            <li class="tm nav-parent">
                                <a href="#"><i class="icon-doc"></i><span>اطلاعات ارتباطی</span> <span class="fa arrow"></span></a>


                                <ul class="children collapse">

                                    <li class="tm nav-active"><a href="#"> تنظیمات کالر آیدی </a></li>

                                    <li class="tm nav-active"><a href="#"> تنظیمات پیامک  </a></li>
                                    <li class="tm nav-active"><a href="#"> تنظیمات فکس  </a></li>
                                    @if (Tools.IsAccessible("Admin") && (Tools.CurrentUser != null && Tools.CurrentUser.Name != "Temp"))
                                    {
                                        <li class="tm nav-active"><a href="/Admin/Managment">تنظیمات سایت </a></li>

                                    }





                                </ul>
                            </li>



                            <li class="tm nav-parent">
                                <a href="#"><i class="icon-doc"></i><span>تنظیمات ظاهر نرم افزار</span> <span class="fa arrow"></span></a>


                                <ul class="children collapse">

                                    <li class="tm nav-active"><a href="#">ظاهر فرم ها و صفحه اصلی </a></li>

                                    <li class="tm nav-active"><a href="#"> فیلد های سفارشی  </a></li>
                                  


                                </ul>
                            </li>

                            <li class="tm nav-parent">
                                <a href="#"><i class="icon-doc"></i><span>ابزار کار</span> <span class="fa arrow"></span></a>


                                <ul class="children collapse">

                                    <li class="tm nav-parent">
                                        <a href="#"><i class="icon-doc"></i><span>تقویم</span> <span class="fa arrow"></span></a>


                                        <ul class="children collapse">

                                            <li class="tm nav-active"><a href="#">یادآوری ها و کارهای دوره ای </a></li>




                                        </ul>
                                    </li>


                                    <li class="tm nav-active"><a href="#"> ماشین حساب  </a></li>

                                    <li class="tm nav-active"><a href="#"> متن پیامک های ارسالی  </a></li>

                                    <li class="tm nav-active"><a href="#"> دفتر تلفن  </a></li>



                                </ul>
                            </li>
                            <li class="tm nav-active"><a href="#"><i class="icon-home"></i><span>تنظیمات پشتیبان گیری</span></a></li>
                            <li class="tm nav-active"><a href="#"><i class="icon-home"></i><span>گزارش ها / طراحی</span></a></li>


                          


                        </ul>
                    </li>




                    <li class="tm nav-parent">
                        <a href="#"><i class="icon-doc"></i><span>مدیریت تولید</span> <span class="fa arrow"></span></a>


                        <ul class="children collapse">


                            <li class="tm nav-parent">
                                <a href="#"><i class="icon-doc"></i><span>اطلاعات پایه</span> <span class="fa arrow"></span></a>


                                <ul class="children collapse">

                                    <li class="tm nav-active"><a href="#">گروه بندی کالا </a></li>

                                    <li class="tm nav-active"><a href="#"> نوع کالا </a></li>

                                    <li class="tm nav-active"><a href="#"> مدیریت کالا ها و محصولات </a></li>

                                    <li class="tm nav-active"><a href="#"> مدیریت نقشه های انفجاری </a></li>
                                    <li class="tm nav-active"><a href="#"> چاپ بارکد </a></li>


                                </ul>
                            </li>
                            <li class="tm nav-parent">
                                <a href="#"><i class="icon-doc"></i><span>مونتاژ</span> <span class="fa arrow"></span></a>


                                <ul class="children collapse">

                                    <li class="tm nav-active"><a href="#">فرمول ساخت</a></li>

                                 


                                </ul>
                            </li>

                            <li class="tm nav-active"><a href="#"> دمونتاژ </a></li>

                            <li class="tm nav-active"><a href="#"> مدیریت گارانتی </a></li>
                            <li class="tm nav-active"><a href="#"> مدیریت سریال </a></li>



                        </ul>
                    </li>


                    <li class="tm nav-parent">
                        <a href="#"><i class="icon-doc"></i><span>امور مالی</span> <span class="fa arrow"></span></a>


                        <ul class="children collapse">

                            <li class="tm nav-parent">
                                <a href="#"><i class="icon-doc"></i><span>اطلاعات پایه</span> <span class="fa arrow"></span></a>


                                <ul class="children collapse">

                                    <li class="tm nav-active"><a href="#">مدیریت دوره های مالی </a></li>

                                    <li class="tm nav-active"><a href="#">مدیریت حساب ها </a></li>
                                
                                    <li class="tm nav-active"><a href="#">مدیریت انبار ها </a></li>

                                    <li class="tm nav-active"><a href="#">قالب چک </a></li>

                                    <li class="tm nav-active"><a href="#">مدیریت حساب های بانکی </a></li>

                                </ul>
                            </li>

                            <li class="tm nav-parent">
                                <a href="#"><i class="icon-doc"></i><span>حسابداری</span> <span class="fa arrow"></span></a>


                                <ul class="children collapse">

                                    <li class="tm nav-active"><a href="#">اسناد حسابداری </a></li>

                                 

                                </ul>
                            </li>

                            <li class="tm nav-active"><a href="#">خزانه داری </a></li>
                            <li class="tm nav-active"><a href="#"> گزارش ها / طراحی </a></li>


                        </ul>
                    </li>



                    <li class="tm nav-parent">
                        <a href="#"><i class="icon-doc"></i><span>بازاریابی</span> <span class="fa arrow"></span></a>


                        <ul class="children collapse">

                            <li class="tm nav-parent">
                                <a href="#"><i class="icon-doc"></i><span>اطلاعات پایه</span> <span class="fa arrow"></span></a>


                                <ul class="children collapse">

                                    <li class="tm nav-active"><a href="#">مدیریت مشتریان بالقوه </a></li>


                                </ul>
                            </li>

                            <li class="tm nav-active"><a href="#">هدایا و تبلیغات </a></li>

                            <li class="tm nav-active"><a href="#">مشتریان بالقوه </a></li>

                            <li class="tm nav-active"><a href="#">گزارش ها / طراحی </a></li>


                        </ul>
                    </li>

                    <li class="tm nav-parent">
                        <a href="#"><i class="icon-doc"></i><span>فروش</span> <span class="fa arrow"></span></a>


                        <ul class="children collapse">

                            <li class="tm nav-parent">
                                <a href="#"><i class="icon-doc"></i><span>اطلاعات پایه</span> <span class="fa arrow"></span></a>


                                <ul class="children collapse">

                                    <li class="tm nav-active"><a href="#">مدیریت مشتریان  </a></li>


                                </ul>
                            </li>

                            <li class="tm nav-active"><a href="#">مشتریان </a></li>

                            <li class="tm nav-active"><a href="#">انبار </a></li>

                            <li class="tm nav-active"><a href="#">گزارش ها / طراحی </a></li>


                        </ul>
                    </li>


                    <li class="tm nav-parent">
                        <a href="#"><i class="icon-doc"></i><span>خدمات پس از فروش</span> <span class="fa arrow"></span></a>


                        <ul class="children collapse">

                            <li class="tm nav-parent">
                                <a href="#"><i class="icon-doc"></i><span>اطلاعات پایه</span> <span class="fa arrow"></span></a>


                                <ul class="children collapse">

                                    <li class="tm nav-active"><a href="#">مدیریت ایرادات  </a></li>
                                    <li class="tm nav-active"><a href="#">مدیریت خدمات و تعرفه ها </a></li>

                                    <li class="tm nav-active"><a href="#">درخواست قطعه </a></li>
                                    <li class="tm nav-active"><a href="#">سرویس های دوره ای</a></li>
                                    <li class="tm nav-active"><a href="#">مدیریت گزارش کارها/ پیامک</a></li>
                                    <li class="tm nav-active"><a href="#">مدیریت دسته قبض ها</a></li>


                                </ul>
                            </li>

                       
                            <li class="tm nav-active"><a href="#">گزارش ها / طراحی </a></li>


                        </ul>
                    </li>


                    <li class="tm nav-parent">
                        <a href="#"><i class="icon-doc"></i><span>مدیریت ارتباط با مشتریان (CRM)</span> <span class="fa arrow"></span></a>


                        <ul class="children collapse">

                            <li class="tm nav-active"><a href="#">رضایت سنجی  </a></li>
                            <li class="tm nav-active"><a href="#">شکایات </a></li>

                            <li class="tm nav-active"><a href="#">صدای مشتری </a></li>
                            <li class="tm nav-active"><a href="#">یادآوری ها</a></li>
                            <li class="tm nav-active"><a href="#">مدیریت گزارش کارها/ پیامک</a></li>
                            <li class="tm nav-active"><a href="#">گزارش ها / طراحی </a></li>


                        </ul>
                    </li>

                    <li class="tm nav-parent">
                        <a href="#"><i class="icon-doc"></i><span>اتوماسیون اداری</span> <span class="fa arrow"></span></a>


                        <ul class="children collapse">

                            <li class="tm nav-active"><a href="#">مکاتبات  </a></li>
                            <li class="tm nav-active"><a href="#">دستورالعمل ها </a></li>

                            <li class="tm nav-active"><a href="#">گزارش ها / طراحی </a></li>


                        </ul>
                    </li>

                  
                    <li class="tm nav-parent">
                        <a href="#"><i class="icon-doc"></i><span>مانیتورینگ و مدیریت</span> <span class="fa arrow"></span></a>


                        <ul class="children collapse">

                            <li class="tm nav-parent">
                                <a href="#"><i class="icon-doc"></i><span>گزارش های مدیریتی</span> <span class="fa arrow"></span></a>


                                <ul class="children collapse">

                                    <li class="tm nav-active"><a href="#">نمایش تکنسین روی نقشه  </a></li>
       
                                </ul>
                            </li>
                            <li class="tm nav-active"><a href="#">گزارش ساز </a></li>



                        </ul>
                    </li>

                    <li class="tm nav-parent">
                        <a href="#"><i class="icon-doc"></i><span>امور قرارداد ها</span> <span class="fa arrow"></span></a>


                        <ul class="children collapse">

                         
                            <li class="tm nav-active"><a href="#">گزارش ها / طراحی </a></li>



                        </ul>
                    </li>

                    <li class="tm nav-parent">
                        <a href="#"><i class="icon-doc"></i><span>مدیریت منابع انسانی / اشخاص</span> <span class="fa arrow"></span></a>


                        <ul class="children collapse">

                            <li class="tm nav-parent">
                                <a href="#"><i class="icon-doc"></i><span>اطلاعات پایه</span> <span class="fa arrow"></span></a>


                                <ul class="children collapse">

                                    <li class="tm nav-active"><a href="#">مدیریت پرسنل  </a></li>
                                    <li class="tm nav-active"><a href="#">مدیریت نمایندگی ها  </a></li>

                                    <li class="tm nav-active"><a href="#">مدیریت تکنسین ها </a></li>


                                </ul>
                            </li>
                            <li class="tm nav-active"><a href="#">گزارش ها / طراحی </a></li>



                        </ul>
                    </li>

                    <li class="tm nav-parent">
                        <a href="#"><i class="icon-doc"></i><span>صفحات کنونی</span> <span class="fa arrow"></span></a>


                        <ul class="children collapse">

                          
                            @if (Tools.IsAccessible("GuarantyFollowUp"))
                            {

                                <li class="tm nav-active">
                                    <a href="/Guaranty/FollowUp"><i class="fas fa-scroll-old"></i><span> وضعیت سرویس </span>  @*<span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span>*@ </a>

                                </li>
                            }
                            @if (Tools.IsAccessible("GuarantyConfirmation"))
                            {
                                <li class="tm nav-active">
                                    <a href="/Guaranty/GuarantyConfirmation"><i class="icon-doc"></i><span>تایید اصالت گارانتی </span>  @*<span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span>*@ </a>

                                </li>
                            }



                            @if (Tools.IsAccessible("ServiceRequest"))
                            {
                                <li class="tm nav-active">

                                    <a href="/ServiceRequest"><i class="fa fa-pencil-square-o"></i><span>درخواست سرویس </span>  @*<span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span>*@ </a>

                                </li>
                            }
                            @if (Tools.IsAccessible("GuarantyActivation"))
                            {
                                <li class="tm nav-active">
                                    <a href="/Guaranty/GuarantyActivation"><i class="fa fa-pencil-square-o"></i><span>فعالسازی گارانتی </span>  @*<span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span>*@ </a>

                                </li>
                            }
                            @if (Tools.IsAccessible("ComplaintFollowUp"))
                            {
                                <li class="tm nav-active">
                                    <a href="/ComplaintFollowUp"><i class="fa fa-files-o"></i><span>پیگیری شکایت </span>  @*<span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span>*@ </a>

                                </li>
                            }
                            @if (Tools.IsAccessible("ComplaintRequest"))
                            {
                                <li class="tm nav-active">
                                    <a href="/ComplaintRequest"><i class="fa fa-pencil-square-o"></i><span>ثبت شکایت </span>  @*<span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span>*@ </a>

                                </li>
                            }

                            @if (Tools.IsAccessible("ProductRequest") && (Tools.CurrentUser != null && Tools.CurrentUser.Name != "Temp"))
                            {
                                <li class="tm nav-active">
                                    <a href="/ProductRequest"><i class="fa fa-pencil-square-o"></i><span>درخواست قطعات </span>  @*<span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span>*@ </a>

                                </li>
                            }


                            @if (Tools.IsAccessible("Representatives") && (Tools.CurrentUser != null && Tools.CurrentUser.Name != "Temp"))
                            {


                                <li class="tm nav-parent">
                                    <a href="#"><i class="icon-doc"></i><span>نمایندگان</span> <span class="fa arrow"></span></a>


                                    <ul class="children collapse">
                                        @if (BiHamtaWeb.Tools.IsAccessible("Representatives"))
                                        {
                                            <li class="tm nav-active"><a href="/Representatives">اطلاعات نماینده </a></li>


                                        }

                                    </ul>
                                </li>

                            }

                            @if (Tools.IsAccessible("Person") && (Tools.CurrentUser != null && Tools.CurrentUser.Name != "Temp"))
                            {


                                <li class="tm nav-parent">
                                    <a href="#"><i class="icon-doc"></i><span>طرف حساب ها</span> <span class="fa arrow"></span></a>


                                    <ul class="children collapse">
                                        @if (BiHamtaWeb.Tools.IsAccessible("Person"))
                                        {
                                            <li class="tm nav-active"><a href="/Person">اطلاعات طرف حساب </a></li>


                                        }

                                    </ul>
                                </li>

                            }
                            @if (Tools.IsAccessible("MasterReception") && (Tools.CurrentUser != null && Tools.CurrentUser.Name != "Temp"))
                            {


                                <li class="tm nav-parent">
                                    <a href="#"><i class="icon-doc"></i><span>پذیرش کارشناسی</span> <span class="fa arrow"></span></a>


                                    <ul class="children collapse">



                                        <li class="tm nav-active"><a href="/MasterReception">ایجاد پذیرش</a></li>


                                    </ul>
                                </li>

                            }


                            @if (Tools.IsAccessible("SearchGuarantyCard") && Tools.IsAccessible("GuarantyCardRaw") && (Tools.CurrentUser != null && Tools.CurrentUser.Name != "Temp"))
                            {


                                <li class="tm nav-parent">
                                    <a href="#"><i class="icon-doc"></i><span>کنترل گارانتی</span><span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span> </a>


                                    <ul class="children collapse">

                                        @if (Tools.IsAccessible("SearchGuarantyCard"))
                                        {
                                            <li class="tm nav-active"><a href="/Guaranty/SearchGuarantyCard">جستجوی کارت گارانتی </a></li>

                                        }
                                        @if (Tools.IsAccessible("GuarantyCardRaw"))
                                        {
                                            <li class="tm nav-active"><a href="/Guaranty/GuarantyCardRaw">ثبت کارت گارانتی خام</a></li>

                                        }



                                    </ul>
                                </li>

                            }

                            @if (Tools.IsAccessible("Admin") && (Tools.CurrentUser != null && Tools.CurrentUser.Name != "Temp"))
                            {
                                <li class="tm nav-active">
                                    <a href="/Admin/Managment"><i class="fa fa-desktop"></i><span>مدیریت سیستم</span>  @*<span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i> </span>*@ </a>

                                </li>
                            }




                        </ul>
                    </li>
            





                </ul>


                <div class="sidebar-widgets" style=""></div>
                <div class="sidebar-footer clearfix" style="right: 0px;">
                    @*<a class="pull-left footer-settings" href="#" data-rel="tooltip" data-placement="top" data-original-title="Settings">
                            <i class="icon-settings"></i>
                        </a>*@
                    <a class="pull-left toggle_fullscreen" href="#" data-rel="tooltip" data-placement="top" data-original-title="Fullscreen">
                        <i class="icon-size-fullscreen"></i>
                    </a>
                    @*<a class="pull-left" href="#" data-rel="tooltip" data-placement="top" data-original-title="Lockscreen">
                            <i class="icon-lock"></i>
                        </a>*@
                    @*<a class="pull-left btn-effect" href="/Account/LogOff" data-modal="modal-1" data-rel="tooltip" data-placement="top" data-original-title="Logout">
                            <i class="icon-power"></i>
                        </a>*@
                </div>

            </div>


        </div>

















        <!-- END SIDEBAR -->
        <div class="main-content">
            <!-- BEGIN TOPBAR -->
            <div class="topbar">
                <div class="header-left">
                    <div class="topnav">
                        <a class="menutoggle" href="#" data-toggle="sidebar-collapsed"><span class="menu__handle"><span>Menu</span></span></a>
                        @*<ul class="nav nav-icons">
                                <li><a href="#" class="toggle-sidebar-top"><span class="icon-user-following"></span></a></li>
                                <li><a href="mailbox.html"><span class="octicon octicon-mail-read"></span></a></li>
                                <li><a href="#"><span class="octicon octicon-flame"></span></a></li>
                                <li><a href="builder-page.html"><span class="octicon octicon-rocket"></span></a></li>
                            </ul>*@
                    </div>
                </div>
                <div class="header-right">
                    <ul class="header-menu nav navbar-nav">
                        <!-- BEGIN USER DROPDOWN -->

                        <li class="dropdown" id="user-header">
                            <a href="#" data-toggle="dropdown" data-selector="dropdown" data-close-others="true">
                                <img src="~/Content/Main/avatars/avatar1.png" alt="user image">
                                <span class="username">کاربر</span>
                            </a>
                            <ul class="dropdown-menu">
                                @if (Tools.CurrentUser != null && Tools.CurrentUser.Name != "Temp")
                                {

                                    <li>
                                        <i class="icon-user"></i><span> &nbsp; @BiHamtaWeb.Tools.CurrentUser.Name</span>
                                    </li>
                                    <li>
                                        <a href="/Account/LogOff"><span>خروج از سیستم</span></a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <i class="icon-user"></i><span>کاربر مهمان</span>
                                    </li>
                                    <li>
                                        <a href="/Account/Login"><span>ورود به حساب کاربری</span></a>
                                    </li>
                                }




                            </ul>
                        </li>
                        <!-- END USER DROPDOWN -->
                        <!-- CHAT BAR ICON -->
                    </ul>
                </div>
                <!-- header-right -->
            </div>
            <!-- END TOPBAR -->
            <!-- BEGIN PAGE CONTENT -->
            <div class="page-content" style="background:white;">

                <div class="row">
                    <div class="" style="margin-left:15px;">
                        <h4>شما در اینجا هستید :<b>@ViewBag.Title</b></h4>
                    </div>



                </div>
                <hr />
                @RenderBody()

                <div class="footer">
                    <div class="copyright">
                        <p class="pull-left sm-pull-reset">
                            <span>کلیه حقوق مادی و معنوی متعلق به گروه نرم افزاری بی همتا می باشد.   </span>
                        </p>

                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT -->
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END MAIN CONTENT -->
    </section>

    <!-- Preloader -->
    <div class="loader-overlay">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
    <script src="~/Scripts/Main/Temp/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <script src="~/Scripts/Main/Temp/main-gsap.min.js"></script>
    <script src="~/Scripts/Main/Temp/bootstrap.min.js"></script>
    <script src="~/Content/plugins/bootbox/bootbox.min.js"></script> <!-- Modal with Validation -->
    <script src="~/Scripts/Main/Temp/quickview.js"></script> <!-- Chat Script -->
    <script src="~/Scripts/Main/Temp/search.js"></script> <!-- Search Script -->
    <script src="~/Scripts/Main/jquery.cookies.min.js"></script> <!-- Jquery Cookies, for theme -->
    <script src="~/Scripts/Main/jquery.blockUI.min.js"></script>  @*simulate synchronous behavior when using AJAX*@
    <script src="~/Scripts/Main/jqueryTranslator.min.js"></script> <!-- Translate Plugin with JSON data -->
    <script src="~/Scripts/Main/bootbox.min.js"></script> <!-- Modal with Validation -->
    <script src="~/Scripts/Main/jquery.mCustomScrollbar.concat.min.js"></script> <!-- Custom Scrollbar sidebar -->
    <script src="~/Scripts/Main/bootstrap-hover-dropdown.min.js"></script> <!-- Show Dropdown on Mouseover -->
    <script src="~/Scripts/Main/backstretch.min.js"></script> <!-- Background Image -->
    <script src="~/Scripts/Main/bootstrap-progressbar.min.js"></script> <!-- Animated Progress Bar -->
    <script src="~/Scripts/Main/builder.js"></script> <!-- Theme Builder -->
    <script src="~/Scripts/Main/sidebar_hover.js"></script> <!-- Sidebar on Hover -->
    <script src="~/Scripts/Main/application.js"></script> <!-- Main Application Script -->
    <script src="~/Scripts/Main/plugins.js"></script> <!-- Main Plugin Initialization Script -->

    <script src="/Content/plugins/charts-sparkline/sparkline.min.js"></script> <!-- Charts Sparkline -->
    <script src="/Content/plugins/charts-chartjs/Chart.min.js"></script>  <!-- ChartJS Chart -->
    <script src="/Content/plugins/icheck/icheck.min.js"></script>
    <script src="/Content/plugins/timepicker/jquery-ui-timepicker-addon.min.js"></script>
    <script>
        $('#user-header').on('click', function () {

            $('.dropdown-menu').toggle();
        });
    </script>
    <!-- END PAGE SCRIPTS -->
</body>
</html>

