
@{
    ViewBag.Title = "مدیریت اشخاص";
    Layout = Tools.GetLayoutName();
}
@using Kendo.Mvc.UI;
<div class="container" style="width:100%; max-width:100%">
    <div class="row" style="margin-top:10px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">جستجوی اطلاعات </h4>
                <span class="pull-right clickable" id="SearchPanelClickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
            </div>
            @*</div>*@
            <div class="panel-body" id="panelSearch">
                <div class="row" style="margin-top:10px">
                    <form id="frmSearch">
                        <div class="tab_right">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tabSearchBaseInfo" data-toggle="tab" aria-expanded="true">اطلاعات فردی</a></li>
                                <li class=""><a href="#tabSearchCallInfo" data-toggle="tab" aria-expanded="false">اطلاعات تماس</a></li>
                                <li class=""><a href="#tabSearchAddressInfo" data-toggle="tab" aria-expanded="false">اطلاعات آدرس</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tabSearchBaseInfo">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="labelClass">نام:‏</label>
                                            <input type="text" class="form-control" name="PersonName" id="PersonNameSearch" />
                                        </div>
                                        <div class="col-md-3">
                                            <label class="labelClass">کداشتراک:‏</label>
                                            <input type="text" class="form-control" name="SubscriptionCode" id="SubscriptionCodeSearch" />
                                        </div>
                                        <div class="col-md-3">
                                            <label class="labelClass">کدملی:‏</label>
                                            <input type="text" class="form-control" name="NationalCode" id="NationalCodeSearch" />
                                        </div>
                                        <div class="col-md-3">
                                            <label class="labelClass">نحوه آشنایی</label>
                                            <input type="text" class="form-control" name="WayOfIntroduce" id="WayOfIntroduceSearch" />
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-4">
                                            <label class="labelClass">توضیحات:‏</label>
                                            <input type="text" name="Description" id="DescriptionSearch" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div id="tabSearchCallInfo" class="tab-pane fade">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="labelClass">تلفن:‏</label>
                                            <input type="text" class="form-control" name="PhoneNumber" id="PhoneNumberSearch" />
                                        </div>
                                        <div class="col-md-3">
                                            <label class="labelClass">موبایل:‏</label>
                                            <input type="text" class="form-control" name="MobileNumber" id="MobileNumberSearch" />
                                        </div>
                                        <div class="col-md-3">
                                            <label class="labelClass">فکس:‏</label>
                                            <input type="text" class="form-control" name="Fax" id="FaxSearch" />
                                        </div>
                                        <div class="col-md-3">
                                            <label class="labelClass">ایمیل:‏</label>
                                            <input type="text" class="form-control" name="Email" id="EmailSearch" />
                                        </div>
                                    </div>
                                </div>
                                <div id="tabSearchAddressInfo" class="tab-pane fade">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="labelClass">استان:‏</label>
                                            @(Html.Kendo().ComboBox()
                                                .Name("ProvinceID")
                                                .HtmlAttributes(new { @id = "ProvinceIDSearch" })
                                                .AutoBind(true)
                                                .Placeholder("")
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                .Filter(FilterType.StartsWith)
                                                .DataSource(ds => ds.Read(r => r.Action("LoadProvinceList", "Province")).ServerFiltering(false))
                                            )
                                        </div>
                                        <div class="col-md-3">
                                            <label class="labelClass">شهر:‏</label>
                                            @(Html.Kendo().ComboBox()
                                                .Name("CityID")
                                                .HtmlAttributes(new { @id = "CityIDSearch" })
                                                .AutoBind(false)
                                                .Placeholder("")
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                .Filter(FilterType.StartsWith)
                                                .CascadeFrom("ProvinceIDSearch")

                                                        .DataSource(ds => ds.Read(r => r.Action("LoadCityList", "City").Data("GetProvinceIDForSearch"))
                                                                  .ServerFiltering(true))
                                            )
                                        </div>
                                        <div class="col-md-3">
                                            <label class="labelClass">منطقه:‏</label>
                                            @(Html.Kendo().ComboBox()
                                                   .Name("ZoneID")
                                                   .HtmlAttributes(new { @id = "ZoneIDSearch" })
                                                   .AutoBind(false)
                                                   .Placeholder("")
                                                   .DataTextField("Text")
                                                   .DataValueField("Value")
                                                   .Filter(FilterType.StartsWith)
                                                   .CascadeFrom("CityIDSearch")
                                                   .DataSource(ds => ds.Read(r => r.Action("LoadZoneList", "Zone").Data("GetCityIDForSearch")).ServerFiltering(true))
                                            )
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="labelClass">خیابان:‏</label>
                                            <input type="text" class="form-control" name="PersonAddressStreet" id="PersonAddressStreetSearch" />
                                        </div>
                                        <div class="col-md-3">
                                            <label class="labelClass">کوچه:‏</label>
                                            <input type="text" class="form-control" name="PersonAddressAlley" id="PersonAddressAlleySearch" />
                                        </div>
                                        <div class="col-md-3">
                                            <label class="labelClass">پلاک:‏</label>
                                            <input type="text" class="form-control" name="PersonAddressNumber" id="PersonAddressNumberSearch" />
                                        </div>
                                        <div class="col-md-3">
                                            <label class="labelClass">کدپستی:‏</label>
                                            <input type="text" class="form-control" name="PostalCode" id="PostalCodeSearch" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <button class="btn btn-success" type="button" onclick="Search()">جستجو</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row" style="margin-top:10px">
                    @(Html.Kendo().Grid<RealEstateAgency.Models.Schema.PersonSchema>()
                                   .Name("gridSearch")
                                   .Columns(col =>
                                   {
                                       col.Bound(c => c.PersonID).Hidden();
                                       col.Bound(c => c.SubscriptionCode).Title("کد اشتراک");
                                       col.Bound(c => c.PersonName).Title("نام و نام خانوادگی");
                                       col.Bound(c => c.PhoneNumber).Title("تلفن");
                                       col.Bound(c => c.MobileNumber).Title("موبایل");
                                       col.Bound(c => c.PersonAddressStreet).Title("آدرس");
                                       col.Template(c => { }).ClientTemplate("<a class='k-button' onClick='DeletePerson(#= PersonID #)'>حذف</a>").Width(50);
                                   })
                                           .DataSource(ds => ds.Ajax().Model(m => m.Id(p => p.PersonID)).Read(r => r.Action("Search", "Person").Data("GetSearchData")))
                                           .Events(e => e.Change("OnGridSearchChanged"))
                                           .AutoBind(false)
                                           .Selectable()
                                           .Sortable()
                                           .Pageable(pageable => pageable
                                                      .Refresh(true)
                                                      .PageSizes(true)
                                                      .ButtonCount(5)
                                                      .Messages(o => o.Display("نمایش").Empty("یافت نشد").First("ابتدا").ItemsPerPage("تعداد در هر صفحه ی لیست").Last("انتها").MorePages("صفحات بیشتر").Next("بعدی")
                                                        .Of("از").Page("صفحه").Previous("قبل").Refresh("به روز رسانی")))
                                           .Filterable(o => o.Messages(msg => msg.And("به همراه").Cancel("انصراف").CheckAll("بررسی همه").Clear("پاک کردن").Filter("اعمال فیلتر").Info("اطلاعات").IsFalse("نادرست بودن").IsTrue("صحیح بودن").Operator("عملگر").Or("یا").Search("جستجو").SelectValue("انتخاب").Value("مقدار"))
                                                   .Operators(msg =>
                                                   {
                                                       msg.ForString(e => e.IsEqualTo("برابر با").Contains("شامل شدن").DoesNotContain("شامل نشدن").EndsWith("تمام شدن با ").IsEmpty("خالی بودن").IsNotEmpty("خالی نبودن").StartsWith("شروع شدن با").IsNotEqualTo("برابر نبودن با").IsNotNull("نا مشخص نبودن").IsNull("نا مشخص بودن"));
                                                       msg.ForNumber(e => e.IsEqualTo("برابر با").IsNotEqualTo("برابر نبودن با").IsNotNull("نا مشخص نبودن").IsNull("نا مشخص بودن").IsGreaterThan("بزرگتر از").IsGreaterThanOrEqualTo("بزرگتر مساوی").IsLessThan("کوچکتر از").IsLessThanOrEqualTo("کوچکتر مساوی")
                                                  );
                                                   })))
                </div>

            </div>
        </div>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="pull-right clickable" id="panelInfoClickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                <h4>ثبت اطلاعات</h4>
            </div>
            <div class="panel-body" id="panelInfo">
                <div class="row" style="margin-top:10px">
                    <form id="frmPersonInfo">
                        <input type="hidden" name="PersonID" id="PersonID" value="0" />
                        <input type="hidden" name="BirthDate" id="BirthDate" />
                        <div class="row">
                            <div class="col-md-3">
                                <label class="labelClass"><span style="color:red">*</span>نام و نام خانوادگی:‏</label>
                                <input type="text" class="form-control" name="PersonName" id="PersonName" isRequired/>
                            </div>
                            <div class="col-md-3">
                                <label class="labelClass">کد اشتراک:‏</label>
                                <input type="text" class="form-control" name="SubscriptionCode" id="SubscriptionCode" /><span><a data-toggle="tooltip" data- data-placement="bottom" title="صدور کد اشتراک" id="btnGetCode">&nbsp;<span class="glyphicon glyphicon-cloud-download"></span></a></span>
                            </div>
                            <div class="col-md-3">
                                <label class="labelClass">:‏کد ملی</label>
                                <input type="text" class="form-control" name="NationalCode" id="NationalCode" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="labelClass"><span style="color:red">*</span>تلفن:‏</label>
                                <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" isRequired/>
                            </div>
                            <div class="col-md-3">
                                <label class="labelClass"><span style="color:red">*</span>موبایل:‏</label>
                                <input type="text" class="form-control" id="MobileNumber" name="MobileNumber" isRequired/>
                            </div>
                            <div class="col-md-3">
                                <label class="labelClass">فکس:‏</label>
                                <input type="text" class="form-control" name="Fax" id="Fax" />
                            </div>
                            <div class="col-md-3">
                                <label class="labelClass">ایمیل:‏</label>
                                <input type="text" class="form-control" name="Email" id="Email" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="labelClass">عنوان احترام</label>
                                <input type="text" name="RespectTitle" id="RespectTitle" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <label class="labelClass">:نحوه آشنایی</label>
                                <input type="text" class="form-control" id="WayOfIntroduce" name="WayOfIntroduce" />
                            </div>
                            <div class="col-md-3">
                                <label class="labelClass">توضیحات:‏</label>
                                <input type="text" class="form-control" id="Description" name="Description" />
                            </div>
                            <div class="col-md-3">
                                <label class="labelClass">تاریخ تولد:‏</label>
                                <input type="text" class="form-control" id="PBirthDate" name="PBirthDate" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="labelClass">استان:‏</label>
                                @(Html.Kendo().ComboBox()
                                        .Name("ProvinceID")
                                        .Placeholder("لطفا انتخاب کنید")
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .DataSource(ds => ds.Read(r => r.Action("LoadProvinceList", "Province")))
                                        .AutoBind(true)
                                        .Filter(FilterType.StartsWith)
                                )
                            </div>
                            <div class="col-md-3">
                                <label class="labelClass">شهر:‏</label>
                                @(Html.Kendo().ComboBox()
                                       .Name("CityID")
                                       .Placeholder("")
                                       .DataTextField("Text")
                                       .DataValueField("Value")
                                       .CascadeFrom("ProvinceID")
                                       .DataSource(ds => ds.Read(r => r.Action("LoadCityList", "City").Data("GetProvinceID")).ServerFiltering(true))
                                       .Filter(FilterType.StartsWith)
                                )
                            </div>
                            <div class="col-md-3">
                                <label class="labelClass"><span style="color:red">*</span>منطقه:‏</label>
                                @(Html.Kendo().ComboBox()
                                       .HtmlAttributes(new {@isRequired="" })
                                       .Name("ZoneID")
                                       .Placeholder("")
                                       .DataTextField("Text")
                                       .DataValueField("Value")
                                       .CascadeFrom("CityID")
                                       .DataSource(ds => ds.Read(r => r.Action("LoadZoneList", "Zone").Data("GetCityID")).ServerFiltering(true))
                                       .Filter(FilterType.StartsWith)
                                )
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="labelClass"><span style="color:red">*</span>خیابان اصلی:‏</label>
                                <textarea class="form-control" name="PersonAddressStreet" id="PersonAddressStreet" style="width:80% !important" isRequired></textarea>
                            </div>
                            <div class="col-md-4">
                                <label class="labelClass"><span style="color:red">*</span>کوچه:‏</label>
                                <textarea class="form-control" name="PersonAddressAlley" id="PersonAddressAlley" style="width:80% !important" isRequired></textarea>
                            </div>
                            <div class="col-md-4">
                                <label class="labelClass"><span style="color:red">*</span>پلاک:‏</label>
                                <textarea class="form-control" name="PersonAddressNumber" id="PersonAddressNumber" style="width:80% !important" isRequired></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" style="width:50%;">
                                <fieldset style="height:250px;">
                                    <legend>گروهبندی</legend>
                                    @(Html.Kendo().Grid<RealEstateAgency.Models.Schema.PersonGroupSchema>()
                                                    .Name("gridPersonGroups")
                                                    .Columns(col =>
                                                            {
                                                        col.Bound(c => c.GroupName).Title("نام گروه");
                                                        col.Bound(c => c.GroupDesc).Title("شرح");
                                                    })
                                                    .AutoBind(true)
                                                    .ToolBar(tb => tb.Custom().Text("انتخاب گروه").HtmlAttributes(new { @id = "btnSelectGroup" }))
                                                    .Scrollable()
                                                    .Selectable()
                                                    .DataSource(ds => ds.Ajax().Model(m => m.Id(p => p.GroupID)).Read(r => r.Action("SearchPersonGroups", "PersonGroup").Data("GetPersonID")))
                                    )
                                </fieldset>
                            </div>
                            <div class="col-md-4" style="width:50%">
                                <fieldset style="height:250px;">
                                    <input type="hidden" name="InfoID" id="InfoID" />
                                    <legend>سایر اطلاعات</legend>
                                    @(Html.Kendo().Grid<RealEstateAgency.Models.Schema.PersonOtherInfoSchema>()
                                                    .Name("gridOtherInfo")
                                                    .Columns(col =>
                                                    {
                                                        col.Bound(c => c.InfoDesc).Title("شرح اطلاعات");
                                                        col.Bound(c => c.CreateByName).Title("ایجاد کننده");
                                                        col.Template(c => { }).ClientTemplate("<a class='k-button' onClick='EditInfo(#= InfoID #)'>ویرایش</a>").Width(50);
                                                        col.Template(c => { }).ClientTemplate("<a class='k-button' onClick='RemoveInfo(#= InfoID #)'>حذف</a>").Width(50);
                                                    })
                                                    .AutoBind(true)
                                                    .ToolBar(tb => tb.Template(@<text>
                                                                <button type="button" class="k-button k-button-icontext" style="width:auto;" id="btnNewInfo" onclick="ShowNewInfo()"><i class='icon-plus'></i> &nbsp;ایجاد</button>
                                                                <div id="divNewInfo" style="display:none;">
                                                                    <input type="text" class="form-control" name="InfoDesc" id="InfoDesc" style="width:60%;margin-top:2px;margin-right:2px; " />
                                                                    <button type="button" class="k-button" id="btnSubmitInfo" onclick="SubmitInfo()">ثــبت</button>
                                                                    <button type="button" class="k-button" id="btnCancelInfo" onclick="CancelInfo()">انصــراف</button>
                                                                </div>
                                                    </text>))
                                     .Scrollable()
                                     .Selectable()
                                     .DataSource(ds => ds.Ajax().Model(m => m.Id(p => p.InfoID)).Read(r => r.Action("LoadOtherInfoes", "Person").Data("GetPersonID")))
                                    )
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <button type="button" id="btnSubmit" class="btn btn-success" onclick="Submit()">ثبت اطلاعات</button>
                            <button type="button" id="btnCancel" class="btn btn-danger" onclick="ResetForm()">فرم جدید/انصراف</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dialog" class="k-rtl"></div>
<div id="GroupsWindow" class="k-rtl">
    <div class="row">
        <fieldset>
            <legend>گروهبندی</legend>
            @(Html.Kendo().Grid<RealEstateAgency.Models.Schema.PersonGroupSchema>()
                           .Name("gridSelectPersonGroup")
                           .AutoBind(true)
                           .Columns(col =>
                           {
                               col.Bound(c => c.GroupID).Title("انتخاب")
                                    .ClientTemplate("<input type=\"checkbox\" name=\"GroupID\" class=\"Groups\" id=\"Group#=GroupID#\" value=\"#=GroupID#\" />");
                               col.Bound(c => c.GroupName).Title("نام گروه");
                           })
                           .DataSource(ds => ds.Ajax().Model(m => m.Id(p => p.GroupID)).Read("LoadAllGroups", "PersonGroup"))
            )
        </fieldset>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button type="button" class="btn btn-success" id="btnSelectGroup" onclick="SelectGroup()">انتخاب</button>
        </div>
    </div>
</div>
<script src="~/Scripts/RealAgency/Person.js">

</script>